<?xml version="1.0" ?>
<model>
    <name>house_unseen</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Zihan Wang</name>
        <email>wang5044@purdue.edu</email>
    </author>
    <description>Unseen house to test autonomous mapping</description>
</model>
